.orderContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    overflow-x: auto;
    padding: 20px;
  }
  .observation-field{
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
  }
  .observation-field .bx-edit-alt {
  position: absolute; /* Posiciona absolutamente o ícone dentro do .observation-field */
  right: 10px; /* 5px do canto direito */
  bottom: 10px; /* 5px do fundo */
}
  .container_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  
  .orderCard .card{
    background-color: #fff;
    border-radius: 20px;
    height: 100%;
    border-color: #2A3042;
    box-shadow:5px 5px 20px 0px ;
     
        
  }
  .orderCard .card-header{
    background-color: #2A3042;
    border-radius: 10px;
   
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
;
  }


  .orderCard .card-body{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .orderCard button{
    background-color: #2A3042;
    border-radius: 10px;
    color: #fff;
   
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  
  .customerName {
   color: #fff;
   margin-bottom: 0%;

  }
  
  .pizza {
    font-size: 16px;
  }
  